*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-size: calc(16px + (24 - 16) * (100vw - 400px)/(800 - 400));
}

body{
    background: #333;
    color: #f4f4f4;
    font-family: 'helvetica' ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    background: #000;
    color: #f6f6f6;
}
ul{
    list-style: none;
}
li{
    background: rgba(255, 255, 255, 0.4);
    margin: 0.5rem;
    padding: 0.5rem;
}