<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Yelp Camp
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container
                a(href="/").navbar-brand    Yelp Camp
                button.navbar-toggler
                    span.navbar-toggler-icon
                div.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a(href="/").nav-link    Home
                        li.nav-item
                            a(href="/campground").nav-link    Camp Grounds
                        li.nav-item
                            a(href="/campground/new").nav-link    New CampGround

