include partials/header.pug
.hero.is-primary.is-fullheight.is-large
    .hero-body
        .container.has-text-centered
            h1.title  Simple authentication home page
include partials/footer.pug 
