include partials/header.pug
.container.is-primary.has-text-centered
    h2.title Login for the secret page !!
    .columns
        .column.is-three-fifths.is-offset-one-quarter
            form(action="/register" method='POST')
                .field
                    label.label   Username:
                    .control
                        input.input(type="text", name="username" placeholder='Username ...')
                .field
                    label.label Password:
                    .control
                    input.input(type="password", name="password" placeholder='password')
                .control
                    input(type="submit", value="login").button.is-primary.is-large.is-outlined
include partials/footer.pug