:root {
    --main-color: #fff4e6;
    --secondary-color: #317256;
    --light-color: #52bf90;
    --mid-color: #419873;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #4DADD4, #9194A3);
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    font-weight: 400;
    font-family: Helvetica, sans-serif;
}

header {
    border-top: 10px solid rgb(12, 109, 72);
    background: var(--light-color);
    color: var(--main-color);
    width: 100vw;
    margin-bottom: auto;
    display: flex;
    justify-content: flex-end;
}

nav {
    flex-basis: 50%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 1rem; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a {
    text-transform: uppercase;
    font-weight: 700;
    flex-basis: 120px;
    /* background: #4DADD4; */
    color: var(--main-color);
    display: block;
    width: 100%;
    padding: 1rem;
    border-bottom: 4px solid transparent;
    transition: border-bottom-color 0.5s ease-in-out;
}

nav a:hover {
    border-bottom-color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 0.4rem 1rem;
}

.hero {
    min-height: 50vh;
    text-align: center;
}

.btn {
    background: var(--main-color);
    color: #333;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
}

.btn-hero {
    border-radius: 5px;
    border: 1px solid var(--mid-color);
    transition: background 0.5s ease-in, color 0.3s ease-in-out;
}

.btn-hero:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--secondary-color);
}

.title {
    width: 100%;
    font-size: 2.3rem;
    background: var(--mid-color);
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    /* margin-top: 0; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.3); */
}

.form {
    background: var(--main-color);
    color: var(--mid-color);
    flex-wrap: wrap;
    padding: 2rem;
    /* max-height: 40vh; */
    max-width: 500px;
    /* max-height: 600px; */
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.input_container {
    width: 100%;
    margin-top: 1rem;
}

.input_container label {
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 150%;
}

.input_container input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.input_container .btn_submit {
    background: var(--main-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-width: 1px;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s ease-in-out;
}

.btn_submit:hover {
    background: var(--secondary-color);
    color: var(--main-color);
}

.danger {
    background: tomato;
    /* padding: .5rem; */
    width: 100%;
    line-height: 150%;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.3rem;
}