<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Welcome to a simple login app
        link(rel="stylesheet", href="/css/main.css")
    body
        header
            nav 
                a.nav_link(href="/")    Home
                a.nav_link(href="/users/login")     Login 
                a.nav_link(href="/users/register")  Register
                a.nav_link(href="/user/logout")     Logout  
        if success_msg
            p.title #{success_msg}
        else if error_msg
            p.danger #{error_msg}
        else if error
            p.danger #{error}
