include ./partials/header.pug
.container
    if errors
        each error in errors
            p.danger #{error.msg}

    h1.title    Register
    form.form(action="/users/register" method='POST' ).form 
        .input_container
            label  Name
                input(type="text", name="name" placeholder='Name..')
        .input_container
            label UserName
                input(type="text", name="username" placeholder='username...')
        .input_container
            label   Email
                input(type="email", name="email" placeholder='Email@example.com')
        .input_container
            label   Password
                input(type="password", name="password" placeholder='Password ...')
        .input_container
            label   Confirm password
                input(type="password", name="password2" placeholder='confirm password')
        .input_container
            input.btn.btn_submit(type="submit", value="submit" )
include ./partials/footer.pug