include ../partials/header.pug 
.container
    h1.text-center.my-5  Edit this CampGround
    form(action='/campground/'+ foundCampground._id+"?_method=PUT" method='POST')
        .form-group
            input(type="text", name="camp[name]" value =foundCampground.name ).form-control.form-control-lg
        .form-group
        input(type="text" name='camp[img]' value =foundCampground.img ).form-control.form-control-lg
        .form-group
        textarea(name="camp[desc]", cols="30", rows="10").form-control.form-control-lg #{foundCampground.desc}
        .form-group
        input(type="submit", value="Update Campground").btn.btn-outline-primary.btn-lg.btn-block
include ../partials/footer.pug