include partials/header.pug 
h1  Welcome to the new form for the campground
form(action="/campground" method='POST')
    input(type="text", name="name" placeholder='New Campground name..')
    input(type="text" name='url' placeholder='Image Url...' )
    input(type="submit", value="Create New Campground")
include partials/footer.pug