include partials/header.pug
section(style='min-height:100vh;background:url("https://source.unsplash.com/y8Ngwq34_Ak");background-size:cover;background-repeat:no-repeat').jumbotron.d-flex.justify-content-center
        h1.display-4.m-auto.bg-white Hello World!!    
include partials/footer.pug