include partials/header.pug
h1  Hello from ismael Blog...
.container
    ul
        each post in blogPost
            li
                .title  #{post.name}
                img(src= post.image, alt="")
                p   #{post.body}
                strong  #{post.created}
include partials/footer.pug