include partials/header.pug
section(style='background= url("https://source.unsplash.com/MlLQKcY5SuE")').jumbotron.text-center
        h1.display-4.my-5 Welcome to YelpCampground
        p.text-center.my-5      View our hand-picked campgrounds from all over the world
        a(href="/campground").btn.btn-primary.btn-full.my-5   View Our Top Campground
include partials/footer.pug